@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    background-color: #0f172a; /* Slate 900 (Oscuro) */
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* O la fuente que prefieras */
}