{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
    name: ukiyo-api-gateway-deployment
    namespace: {{ .Release.namespace }}
spec:
    replicas: 1
    selector:
        matchLabels:
            app: ukiyo-api-gateway
    template:
        metadata:
            labels:
                app: ukiyo-api-gateway
            annotations:
                checksum/config: {{ include (print $.Template.BasePath "/ukiyo-configmap.yaml") . | sha256sum }}
            spec:
                containers:
                    - name: ukiyo-api-gateway
                        image: {{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}
                        imagePullPolicy: {{ .Values.app.image.pullPolicy }}
                        ports:
                            - containerPort: {{ .Values.app.containerPort }}
                        envFrom:
                            - configMapRef:
                                name: ukiyo-api-gateway-config
{{- end }}